            body{background-color:Thistle;}
			
			h1 {text-align:center;
				color:Crimson;
				font-size:50px;
				font-family:Rockwell;}
			
			.center1 {text-align:center;}
				
			 ol , .text1 , .info{font-size:30px;
			 font-family:Rockwell;}
				
			 ol {color:Navy;}
				
		 
