body{background-color:LightCyan;
font-family:"Trebuchet MS",sans-serif;}

h1{color:Maroon;
font-size:50px;}

p{color:Navy;
font-size:30px;}

.text1{text-align:center}

img{height:650px;
	width:500px;}
	
.foto{text-align:center;}




	
