      h1 {text-align: center;
		 color:Crimson;
		 font-size:50px;
		 font-family:Rockwell;}
		 
	 .center1 {text-align: center;}
		
		 
	 img { display:block; margin:0 auto;
		 width:800x;
		 height:600px;}
		 
	 body{background-color:LightBlue;}
	 
	 h2 {color:Navy;
		 font-size:40px;}
	 .text1 , ol{font-size:30px;}
	 
	 .source{font-size:25px;}
